@model medical_offices.Models.Entities.Service
@{
    ViewBag.Title = "Details";
}

<div class="container mt-5 pt-5">
    <div class="display-4 mb-3 text-center">@Model.Name</div>

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit Service", "Edit", new { id = Model.ServiceId }, new { @class = "btn btn-warning btn-block" })
        using (Html.BeginForm(actionName: "Delete", controllerName: "Service", method: FormMethod.Post, routeValues: new { id = Model.ServiceId }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger btn-block mb-5" type="submit">Delete Service</button>
        }
    }

    <div class="card-columns">
        @foreach (var medicalOffice in Model.MedicalOffices)
        {
            <div class="card text-center mb-3 text-dark border-danger">
                <div class="card-header">
                    @medicalOffice.Name
                </div>
                <div class="card-body">
                    <p class="card-text">@medicalOffice.Address.Country, @medicalOffice.Address.City, Street @medicalOffice.Address.Street, Number @medicalOffice.Address.Number</p>
                    <ul class="list-group mb-2">
                        @foreach (var service in medicalOffice.Services)
                        {
                            <li class="list-group-item">@service.Name</li>
                        }
                    </ul>
                    @using (Html.BeginForm(actionName: "Details", controllerName: "MedicalOffice", method: FormMethod.Get, routeValues: new { id = medicalOffice.MedicalOfficeId }))
                    {
                        <button class="btn btn-dark" type="submit">More Details</button>
                    }
                </div>
                <div class="card-footer text-muted">
                    @medicalOffice.Person.LastName's medical office
                </div>
            </div>
        }
    </div>
</div>