@model medical_offices.Models.Entities.Appointment
@{
    ViewBag.Title = "Edit";
}

<div class="container text-dark mt-5 pt-5 pb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    Edit An Appointment
                </div>
                <div class="card-body">
                    <p>To:</p>
                    <p>@Model.MedicalOffice.Name</p>
                    <hr />

                    @using (Html.BeginForm(actionName: "Edit", controllerName: "Appointment"))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Put)
                        @Html.HiddenFor(a => a.AppointmentId)

                        @Html.LabelFor(a => a.Date, "Date:")
                        @Html.EditorFor(a => a.Date, new { htmlAttributes = new { type = "datetime-local", @class = "form-control mb-3" } })
                        @Html.ValidationMessageFor(a => a.Date, "", new { @class = "text-danger" })
                        <hr />

                        <button class="btn btn-warning btn-block" type="submit">Edit</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>