@model medical_offices.Models.Entities.MedicalOffice
@{
    ViewBag.Title = "New";
}

<br />
<div class="container text-dark mt-5 pt-5 pb-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center">
                    Create A New Medical Office
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(actionName: "New", controllerName: "MedicalOffice", method: FormMethod.Post))
                    {
                        @Html.Label("Name", "Name:")
                        @Html.TextBox("Name", null, new { placeholder = "Type in the office's name", @class = "form-control" })
                        @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                        <hr />

                        @Html.Label("ContactNumber", "Contact number:")
                        @Html.TextBox("ContactNumber", null, new { placeholder = "Type in the contact's number", @class = "form-control" })
                        @Html.ValidationMessage("ContactNumber", "", new { @class = "text-danger" })
                        <hr />

                        @Html.LabelFor(office => office.Address.Country, "Country:")
                        @Html.TextBoxFor(office => office.Address.Country, null, new { placeholder = "Type in the country", @class = "form-control" })
                        @Html.ValidationMessageFor(office => office.Address.Country, "", new { @class = "text-danger" })
                        <hr />

                        @Html.LabelFor(office => office.Address.City, "City:")
                        @Html.TextBoxFor(office => office.Address.City, null, new { placeholder = "Type in the city", @class = "form-control" })
                        @Html.ValidationMessageFor(office => office.Address.City, "", new { @class = "text-danger" })
                        <hr />

                        @Html.LabelFor(office => office.Address.Street, "Street:")
                        @Html.TextBoxFor(office => office.Address.Street, null, new { placeholder = "Type in the street", @class = "form-control" })
                        @Html.ValidationMessageFor(office => office.Address.Street, "", new { @class = "text-danger" })
                        <hr />

                        @Html.LabelFor(office => office.Address.Number, "Number:")
                        @Html.TextBoxFor(office => office.Address.Number, null, new { placeholder = "Type in the number", @class = "form-control" })
                        @Html.ValidationMessageFor(office => office.Address.Number, "", new { @class = "text-danger" })
                        <hr />

                        @Html.LabelFor(office => office.ServicesList, "Choose services:")
                        <br />
                        for (int i = 0; i < Model.ServicesList.Count; i++)
                        {
                            @Html.HiddenFor(office => office.ServicesList[i].Id)
                            @Html.HiddenFor(office => office.ServicesList[i].Name)
                            @Html.CheckBoxFor(office => office.ServicesList[i].Checked)
                            @Html.DisplayFor(office => office.ServicesList[i].Name)
                            <br />
                        }
                        <hr />

                        <button class="btn btn-primary btn-block" type="submit">Create</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>